@{
    ViewBag.Title = "Home";
    ViewBag.HomeLinkClass = "selected";
    ViewBag.BayesLinkClass = "";
    ViewBag.EstimatorsLinkClass = "";
    ViewBag.RegressionLinkClass = "";
    ViewBag.FeedbackLinkClass = "";
}

<h2>Statistics</h2>

<p>Interactive tools to visualise statistical methods.</p> 

<p>Inspired from the free Udacity course <a href="https://www.udacity.com/course/intro-to-statistics--st101">Statistics 101.</a></p>
